<div *ngIf="lat!=null">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">

    <!-- google maps rendering directions -->
    <agm-direction [origin]="origin" [destination]="destination" [waypoints]="waypoints" (click)="getDirection($event)"></agm-direction>
    <!-- for highlighting a site under circle -->
    <agm-circle [latitude]="lat" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
    </agm-circle>
  </agm-map>

</div>
<!-- origin:{{origin}},dest: {{destination}} -->
<div class="row">

</div>