.navbar {
  height: 40px !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: black !important;
}
.navbar-dark .navbar-nav .nav-link a {
  color: black !important;
}
.logout {
  color: black;
  font-size: 14px;
}
