<!-- <aside class="main-sidebar"> -->
<!-- sidebar: style can be found in sidebar.less -->
<!-- <section class="sidebar" style="height: auto;"> -->
<!-- Sidebar user panel -->
<!-- <div class="user-panel"> -->

<!-- sidebar menu: : style can be found in sidebar.less -->
<!-- <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">
          <img width="200" alt="Angular Logo" src="assets/images/ESIPO.png">
        </li>

        <li class="treeview">
          <a href="#about" [routerLink]="['/home']">
            <i class="fa fa-phone mr-3"></i>
            <span>Phone Users</span>

          </a>
        </li>
        <li class="treeview">
          <a href="#services" [routerLink]="['/details']">
            <i class="fa fa-book mr-3"></i>
            <span>Get Details</span>

          </a>
        </li>
      </ul>
    </div>


  </section>
 
</aside>  -->
<div class="left main-sidebar">
  <div class="sidebar-inner leftscroll">
    <div id="sidebar-menu">
      <ul>
        <li class="submenu">
          <a href="charts.html" [routerLink]="['/home']">
            <i class="fa fa-phone"></i>
            <span>PHONE USERS </span>
          </a>
        </li>
        <li class="submenu">
          <a href="charts.html" [routerLink]="['/details']">
            <i class="fa fa-book"></i>
            <span>GET DETAILS </span>
          </a>
        </li>

        <!-- <li class="submenu">
          <a href="#">
            <i class="fa fa-fw fa-th"></i>
            <span> Plugins </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="list-unstyled">
            <li>
              <a href="star-rating.html">Star Rating</a>
            </li>
            <li>
              <a href="range-sliders.html">Range Sliders</a>
            </li>
            <li>
              <a href="tree-view.html">Tree View</a>
            </li>
            <li>
              <a href="sweetalert.html">SweetAlert</a>
            </li>
            <li>
              <a href="calendar.html">Calendar</a>
            </li>
            <li>
              <a href="gmaps.html">GMaps</a>
            </li>
            <li>
              <a href="counter-up.html">Counter-Up</a>
            </li>
          </ul>
        </li> -->

      </ul>

      <div class="clearfix"></div>

    </div>

    <div class="clearfix"></div>

  </div>

</div>