<app-nav> </app-nav>
<div class="row">
  <div class="col-md-8">

  </div>
  <div class="col-md-4 list">

  </div>
</div>
<app-nav>
</app-nav>

<form #editForm="ngForm" id="editForm">
  <div class="content-page">

    <!-- Start content -->
    <div class="content">

      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-12">
            <div class="breadcrumb-holder">

            </div>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-9">
            <div class="card">

              <div class="card-body">
                <agm-map [latitude]="lat" [longitude]="lng">
                  <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [iconUrl]="marker.iconUrl">
                    <agm-direction [origin]="origin" [destination]="destination" [waypoints]="waypoints"></agm-direction>
                  </agm-marker>
                </agm-map>
              </div>
            </div>
            <!-- end card-->
          </div>

          <div class=" col-md-3">
            <div class="card mb-3">

              <div class="card-body">

                <ul class="list-group">
                  <li class="list-group-item ">SiteName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Mexico City</li>
                  <li class="list-group-item">Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    07/02/2018
                  </li>
                  <li class="list-group-item">Route Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Route 1</li>
                  <li class="list-group-item">Programmed Visits &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3</li>
                  <li class="list-group-item">Visited &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3</li>
                </ul>
                <br>
                <button type="button" class="btn btn-primary pull-right" (click)="openModal(template)">Feedback</button>

                <ng-template #template>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Feedback</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <div class="form-group">
                      <label for="status">Status</label>
                      <select class="form-control" id="status" [(ngModel)]="selectedStatus" (ngModelChange)="onStatusTypeChange($event)">
                        <option *ngFor="let type of status" [ngValue]="type">{{type.status_type}}</option>

                      </select>
                    </div>
                    <div class="form-group" *ngIf="showMotive">
                      <label for="exampleFormControlSelect1">Motives</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>unreachable</option>
                        <option>closed</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-success pull-right" (click)="submitFeedBack()">Submit</button>

                  </div>
                </ng-template>

                <br>


              </div>

            </div>
            <!-- end card-->
          </div>

        </div>
        <!-- end row -->
      </div>
    </div>
    <!-- END content -->
  </div>
</form>
