<app-nav>
</app-nav>
<app-sidebar></app-sidebar>
<form #editForm="ngForm" id="editForm" (submit)="getSite()">
  <div class="content-page">

    <!-- Start content -->
    <div class="content">

      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-12">
            <div class="breadcrumb-holder">

            </div>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-9">
            <div class="card">

              <div class="card-body">
                <app-map #map></app-map>
              </div>
            </div>
            <!-- end card-->
          </div>

          <div class=" col-md-3">
            <div class="card mb-3">

              <div class="card-body">

                <app-sitename (siteNameEvent)="map.receiveData($event)"></app-sitename>

                <br>


              </div>

            </div>
            <!-- end card-->
          </div>

        </div>
        <!-- end row -->
      </div>
    </div>
    <!-- END content -->
  </div>
</form>
