<app-nav>
</app-nav>

<app-sidebar></app-sidebar>
<br>
<div class="content-page">

  <!-- Start content -->
  <div class="content">

    <div class="container-fluid">
      <div class="card">
        <div class="card-body">

          <div class="col-md-12">
            <form>
              <div class="form-group">
                <label for="routename">Route Name</label>
                <select id="start" class="form-control">
                  <option value="Halifax, NS">Route 1</option>
                  <option value="Boston, MA">Route 2</option>
                  <option value="New York, NY">Route 3</option>
                  <option value="Miami, FL">Route 4</option>
                </select>
              </div>
              <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="" placeholder="Enter Date">
              </div>
            </form>
            <table class="table table-responsive-xl table-bordered">
              <thead>
                <tr>
                  <th scope="col">Routename</th>
                  <th scope="col">Date</th>
                  <th scope="col">Programmed Visits</th>
                  <th scope="col">Visited</th>
                  <th scope="col">Not_Visited</th>
                  <th scope="col">By_Motives</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ROUTE 1</td>
                  <td>06/20/2018</td>
                  <td>16</td>
                  <td>10</td>
                  <td>6</td>
                  <td>Unreachable :2
                    <br> Closed : 1
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div>

        </div>
      </div>
    </div>
    <!-- <div class="content-wrapper">
  <div class="row">
    <div class="container">
      <div class="col-md-6">
        <div class="form-group">
          <label for="routename">Route Name</label>
          <select id="start" class="form-control">
            <option value="Halifax, NS">Route 1</option>
            <option value="Boston, MA">Route 2</option>
            <option value="New York, NY">Route 3</option>
            <option value="Miami, FL">Route 4</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="" placeholder="Enter Date">
        </div>
      </div>
    </div>
  </div>
</div> -->